html {
    scroll-behavior: smooth;
}  
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Variables */

/* Variables end */
/* CSS For Header */
#heading{
    margin-right: 18%;
    padding : 0.5%;
    font-size: 28px;
    font-weight: bold;
    font-family: cursive;
    color: var(--ablue);
}
.header_on_scroll{
    padding: 10px 15px 10px 0px;
    position: fixed;
    width: 100%;
    box-shadow: 5px 5px 10px gray;
    background-color: white ;
    transition: 400ms;
}
.top li{
    font-weight: bold;
    float: left;
    color: rgb(70, 69, 69);
    /* padding: 5px 15px 5px 15px; */
    padding: 1% 7px;
}
#menu_{
    display: none;
}

#enq_form{
    display: none;
    width: 50%;
    height: 580px;
    position: fixed;
    top: 15%;
    left: 25%;

}
#enq_form_close{
    position: fixed;
    top: 19%;
    left: 70%;
}
/* Footer start */
footer{
    /* box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4); */
    box-shadow: 0px -9px 10px 1px rgba(128, 128, 128, 0.473);
    padding: 50px 10px 200px 10px;
    margin: -8px;
    height: 100%;
    /* border-top: 3px solid black; */
    /* width: 100% */

}

footer div img{
    height: 100px;
}
footer div {
    float: left;
    margin-left: 2%;

}
footer div .main{
    font-size: 18px;
    color: black;
    font-weight: bolder;
}
footer div .main:hover{
    color: black;
    cursor: text;
}
footer div li{
    color: rgb(117, 117, 117);
    font-weight: 600;
}
footer div li:hover{
    color: var(--ablue);
    cursor: pointer;
}
footer i{
    font-size: 30px;
    margin: 10px;
}
footer div ul{
    list-style-type: none;
    line-height: 30px;
}

/* Footer complete */