:root {
    --ablue: rgb(41, 149, 185);
}

#heading {
    margin-right: 30%;
    padding: 0.5%;
    font-size: 20px;
}

#menu {
    height: 35px;
}

#logo {
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact:hover {
    color: var(--ablue);
    cursor: pointer;
    background-color: white;
    transition: 400ms;
}

div.gallery {
    height: 530px;
}

.buttons {
    width: 40%;
    margin: 1% 30%;
}

.buttons li {
    list-style-type: none;
    border-radius: 30px;
    border: 2px solid var(--ablue);
    margin: 10px 20px 10px 20px;
}

.services {
    padding: 10px 50px;
}

.contact {
    padding: 10px 37px;
}

.about .title_1 {
    font-size: 43px;
    font-weight: 700;
    float: left;
}

.about hr {
    display: none;
}

.client {
    width: 70%;
    margin: auto;
}

.client img {
    height: 250px;
}

#cont {
    width: 80%;
    position: fixed;
    top: 20%;
    left: 10%;
}

#cont_close {
    position: fixed;
    top: 22%;
    left: 82%;
}

#menu {
    height: 250px;
}

.floating {
    position: fixed;
    right: 10px;
    bottom: 15px;
}

#enquiry {
    position: fixed;
    right: 5px;
    bottom: 130px;
    font-size: 15px;
}

#enquiry:hover {
    cursor: help;
    box-shadow: 0px 0px 15px black;
    transition: 200ms;
}

#enq_form {
    top: 8%;
    left: 15%;
    height: 500px;
}

#enq_form_close {
    position: fixed;
    top: 11%;
    left: 76%;
}